@import url(./index.css);

.ListEntry {
  display: flex;
  height: 5em;
  background-color: var(--list-bg-color);
  border-radius: 1em;
  margin: 0.5em;
  border: 2px solid #3DCCC7;
}

.logoSmol {
  aspect-ratio : 1 / 1;
  
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: blueviolet; */
}

.text {
  /* background-color: cadetblue; */
  height: 100%;
  width: 100%;
}

.headline, .subline {
  line-height: 100%;
  padding-left: 1em;
  padding-right: 1em;

}


.imgg {
  width: 70%;
}