.Logos {
  /* background-color: green; */
  
}

.logoPack {
  display: flex;
  align-items: center;
  justify-content: center;

}

.logo {
  aspect-ratio: 1 / 1;
  width: 5em;
  /* background-color: chartreuse; */
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  opacity: 0.7;
  width: 5em;
  border: none;
  border-top: 0.4em dotted black;
}

/* .link {
  text-align: center;
  width: 3em;
} */

