@import url(./index.css);

/* * {
  box-sizing: border-box;
} */

.Prompt {
  width: 480px;
  background-color: var(--bgcolor);
  /* padding: 1em; */
  border-radius: 1em;
  border: 1px solid #aaaaaa;
  /* box-shadow: 0 0 10px #47B3FF; */
  padding-top: 2em;
}

.heading {
  font-family: 'Segoe UI','Roboto','Helvetica','Arial',sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.buttons {
  display: flex;
}

.permissions {
  list-style: none;
  line-height: 1em;
  opacity: 0.6;
}
.button {
  border: none;
  border-radius: 1em;
  line-height: 3em;
  /* background-color: var(--btn-color); */
  color: white;
  flex-grow: 1;
  margin: 0.5em;
}
.button:hover {
  cursor: pointer;
}