.Logos {
  /* background-color: green; */
  
}

.logo-pack {
  display: flex;
  align-items: center;
  justify-content: center;

}

.logo {
  aspect-ratio: 1 / 1;
  width: 8em;
  /* background-color: chartreuse; */
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  text-align: center;
  width: 3em;
}